@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100;300;700;800;900&family=Poppins:wght@200;300;400;500;700&family=Roboto:ital,wght@0,300;0,900;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo_body.png);
  width: 100%;
}

.headerContainer {
  background-color: #ffffff;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.nombre {
  text-align: center;
  padding-left: 20px;
}
.siglas {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  -webkit-text-fill-color: #3e9e66;
}
.titulo {
  font-family: "Istok Web", sans-serif;
  color: #393e46;
}

.logotipo {
  width: fit-content;
}
.logoImg {
  height: 160px;
  align-items: center;
  padding-left: 200px;
}

nav {
  height: 50px;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #393e46;
  font-family: "Istock Web", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

a:hover {
  color: #3e9e66;
}
a:active {
  color: #3e9e66;
}

.letrasPrincipales {
  display: flex;
  width: 80px;
  padding-left: 50px;
  padding-top: 70px;
}
.subtitulo {
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: left;
  padding-bottom: 20px;
}

.subtituloTexto {
  font-family: "Outfit", sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: #eeeeeef1;
  text-shadow: black 5px 3px 4px;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #393e46;
}

#inicio {
  display: flex;
  background-image: url(../img/img_Inicio_mod.png);
  height: 80vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: self-start;
  gap: 10px;
  margin-bottom: 50px;
}

#nosotros {
  width: 80%;
  color: #393e46;
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  padding-left: 25px;
  height: 400px;
  margin: 0 auto;
  text-shadow: 2px 4px rgb(126, 189, 129);
}
.nosotrosTexto {
  width: 600px;
  padding-left: 30px;
}
.nosotrosImg {
  width: 100%;
}

.cajas {
  display: flex;
  width: 80%;
  padding-top: 0;
  margin-bottom: 30px;
  text-align: center;
  margin: 0 auto;
}
.caja {
  flex: 1;
  background-color: #c4fb6d;
  padding-bottom: 20px;
  padding-inline: 20px;
  margin: 20px;
  margin-bottom: 0;
}

.cajaTexto {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.servicios {
  background-image: url(../img/fondo_secciones.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 350px;
  color: rgb(230, 233, 238);
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  display: flex;
}
.serviciosTexto {
  display: flex;
  margin: auto;
  width: 600px;
  padding-left: 30px;
  text-shadow: 2px 4px rgb(3, 3, 3);
}

.serviciosContenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 100%;
  border-radius: 10px;
  padding-bottom: 20px;
}

.serviciosDescripcion {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  height: 500px;
  line-height: 2rem;
  max-width: 50%;
}
.serviciosDescripcion h3 {
  color: #3e9e66;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #c2bdbd;
}

.serviciosDescripcion p {
  font-size: 1.3rem;
  line-height: 70px;
  font-weight: 500;
  color: #000000;
  text-align: left;
}

.volver {
  text-align: center;
  padding: 25px;
}

#soluciones {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 200px;
  width: 80%;
  max-height: fit-content;
}

.sol {
  text-align: center;
}

.solucionesTexto {
  font-family: "Outfit", sans-serif;
  font-size: 5rem;
  color: #393e46;
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow: 2px 4px rgb(126, 189, 129);
}
.solucionesItems {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 500;
  line-height: 90px;
  font-family: "Roboto", sans-serif;
  color: #393e46;
  text-align: center;
  margin-bottom: 30px;
}

.solucionesIcon {
  display: flex;
  margin: auto;
  width: 200px;
}
.solImgContenedor {
  display: flex;
  justify-content: center;
}

#contacto {
  background-image: url(../img/fondo_secciones.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 350px;
  color: rgb(230, 233, 238);
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

#contacto h2 {
  margin: auto;
  width: 600px;
  padding-left: 30px;
  padding-top: 90px;
  text-shadow: 2px 4px rgb(3, 3, 3);
}

.contactoDescripcion {
  display: flex;
  justify-content: center;
}
.contactoDescripcion p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding: 50px;
  color: #393e46;
}
.contactoBox {
  height: 30vh;
}

.whatsapp {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  text-align: center;
}

.whatsapp-button {
  height: 70px;
  width: 500px;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  background-color: #3e9e66;
  border-radius: 25px;
}

.contenedorFooter {
  height: 200px;
  background-color: #76ead7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.redes i {
  font-size: 30px; /* Ajusta el tamaño según tus necesidades */
  margin: 0 10px; /* Ajusta el espacio entre los iconos si es necesario */
}

.copyright {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666; /* Cambia el color según tu paleta de colores */
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  position: absolute; /* Añadido para posicionar de forma absoluta */
  bottom: 0; /* Coloca el aviso en la parte inferior del contenedor */
  left: 50%; /* Coloca el aviso en el centro horizontalmente */
  transform: translateX(-50%); /* Ajusta para centrar completamente */
}

/** media queries**/
@media screen and (max-width: 1710px) {
  .navItem a {
    font-size: 1rem;
  }


  .subtitulo {
    padding-bottom: 0;
 }


  .volser {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .titulo {
    font-size: 20px;
  }

  nav {
    width: 100%;
  }

  .navItem a {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }

  h1 {
    font-size: 4.5rem;
  }
  #inicio {
    background-size: contain;
    background-position: top;
    height: 50vh;
    flex-direction: column;
  }

  .letrasPrincipales {
    padding: 20px;
  }

  .subtitulo {
    background-color: #3e9e66;
    justify-content: center;
  }

  .subtitulo p {
    font-size: 2.5rem;
  }

  #nosotros {
    flex-direction: column;
    max-width: 70%;
    font-size: 3rem;
    padding-top: 180px;
    height:600px;
   
  }

  .serviciosDescripcion {
    height: fit-content;
  }

  .cajas {
    margin: 0 auto;
    flex-direction: column;
  }
  .serviciosContenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .serviciosDescripcion {
    width: 80%;
    text-align: justify;
  }

  #soluciones {
    padding-top: 10px;
  }
}

/**Tablet**/

@media screen and (max-width: 800px) {
  .headerContainer {
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding: 0;
  }

  nav {
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
  }

  .navItem a {
    font-size: 1rem;
  }

  .titulo {
    font-size: 25px;
  }
  .logoImg {
    padding-left: 25px;
  }

  #inicio {
    flex-direction: column;
    background-position: top center;
    background-size: 800px;
  }
  .letrasPrincipales {
    width: 60%;
    padding: 15px;
  }

  h1 {
    font-size: 3.5rem;
  }
  .subtitulo {
    text-align: center;
    background-color: transparent;
  }

  .subtitulo p {
    font-size: 35px;
    padding-left: 20px;
  }

  #nosotros {
    flex-direction: column;
    font-size: 3.5rem;
  }

  .cajas {
    flex-direction: column;
  }
  .servicios {
    font-size: 3rem;
    text-align: center;
  }

  .serviciosContenido {
    flex-direction: column;
    min-width: 100%;
  }

  .serviciosDescripcion {
    height: fit-content;
    min-width: 80%;
  }

  .solucionesTexto {
    font-size: 4rem;
  }

  .solucionesItems {
    font-size: 1.5rem;
  }

  #contacto {
    font-size: 3rem;
    text-align: center;
  }

  .contactoDescripcion p {
    justify-content: center;
  }

  .whatsapp-button {
    max-width: 50%;

    font-size: 2rem;
  }

  .whatsapp-text {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 600px) {
  #inicio {
    background-image: url(../img/img_Inicio390.png);
    background-size: contain;
    max-height: 400px;
  }

  .letrasPrincipales {
    font-size: 20px;
    line-height: 3.4rem;
    padding: 5px 3px 3px 3px;
  }

  .subtitulo {
    margin-top: 20px;
    padding: 20px;
    background-color: #3e9e66;
    text-align: center;
  }

  .subtitulo p {
    font-size: 2.5rem;
  }

  #nosotros {
    max-height: 320px;
    padding-top: 40px;
    margin-right: 100px;
  }
  .nosotrosTexto {
    font-size: 3rem;
    padding: 0;
  }
  .icon {
    width: 170px;
  }

  .serviciosTexto {
    font-size: 3rem;
    text-align: center;
    padding-left: 0;
  }

  .serviciosDescripcion {
    max-width: 80%;
  }
  .solucionesTexto {
    font-size: 4rem;
  }

  .solImg {
    max-width: 90%;
  }

  .solucionesItems li {
    font-size: 1.5rem;
  }

  .contactoTexto {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 25px;
  }
  .contactoDescripcion p {
    text-align: center;
  }
  .whatsapp-button {
    width: 80%;
    font-size: 1.3rem;
  }
  .whatsapp-text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 485px) {
  .nombre {
    padding-right: 25px;
    line-height: 35px;
  }
  .navItem a {
    font-size: 15px;
  }

  .letrasPrincipales {
    padding-left: 5px;
    font-size: 35px;
  }

  .letrasPrincipales h1 {
    font-size: 35px;
  }

  .subtitulo p {
    font-size: 30px;
  }

  .nosotrosTexto {
    width: 60%;
    font-size: 2.5rem;
  }

  .icon {
    width: 150px;
  }

  .serviciosDescripcion {
    flex-direction: column;
    text-align: left;
    line-height: 1.5rem;
    font-size: 30px;
  }

  #soluciones {
    flex-direction: column;
    padding-top: 100px;
    width: 90%;
    height: auto;
    font-size: 2.5rem;
  }
  .solucionesTexto {
    font-size: 3rem;
  }

  .solucionesItems {
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .contactoTexto {
    height: 200px;
    padding-right: 35px;
    font-size: 2.5rem;
  }
  .whatsapp-button{
   
    height: 50px;
  }
 
 
  .whatsapp-text {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 360px) {
  .navItem {
    text-align: center;
    margin: 1px;
    width: 100%;
  }
  nav {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #inicio h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .nosotrosTexto {
    font-size: 2rem;
  }
  .nosotrosImg {
    width: 280px;
  }

  .serviciosTexto {
    font-size: 2rem;
  }

  .serviciosDescripcion p {
    font-size: 1rem;
  }

  .cajaTexto {
    font-size: 1.3rem;
  }

  .solucionesTexto {
    font-size: 2.3rem;
  }

  .solucionesItems li {
    font-size: 1.3rem;
  }

  .solImg {
    padding-left: 0;
  }
  .contactoTexto {
    font-size: 2rem;
  }

  .contactoDescripcion p {
    text-align: center;
    font-size: 1.3rem;
  }

  .contactoBox {
    height: 500px;
    width: 100%;
  }
  .whatsapp-button {
    padding: 10px 5px 10px 5px;
   }

  .whatsapp-text {
    font-size: 1rem;
  }


  .volFin {
    justify-content: end;
  }
}
